<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    html {
      font-family: sans-serif;
    }
    table {
      border-collapse: collapse;
      border: 2px solid rgb(200,200,200);
      letter-spacing: 1px;
      font-size: 0.8rem;
    }
    td, th {
      border: 1px solid rgb(190,190,190);
      padding: 1px 20px;
      text-align: center;
    }
    td {
      text-align: center;
    }
    caption {
      padding: 1px;
    }

    .table {
        border: 1px solid rgb(190,190,190);
        padding: 1px 2px;
        text-align: center;
        }
    
    
    </style>
  </head>
 <% require IEx %>
  <body>

    <div align="right" style="margin-right: 30px;">
      <form action="/pdf/exam_result_analysis_class_standard" method="POST">
        <input type="hidden" name="standard_id" value="<%= @standard_id %>">
        <input type="hidden" name="subject_id" value="<%= @subject_id %>">
        <input type="hidden" name="institution_id" value="<%= @institution_id %>">
        <input type="hidden" name="institution_name" value="<%= @institution_name %>">

        <input type="hidden" name="year" value="<%= @year %>">
        <input type="hidden" name="e_year" value="<%= @e_year %>">
        

        <%= for a <- @exam_id |> Enum.with_index(1) do %>
        <input type="hidden" name="<%= elem(a, 1)%>" value="<%= elem(a, 0)%>">
        <% end %>

        <input type="hidden" name="_csrf_token" value="<%= @csrf %>">
        <input align="left"  class="btn btn-info btn-ml" type="submit" name="" value="Print!">
      </form>
    </div>



     <h3><center><b><%= @institution_name %></b></center></h3>
    <center>ANALISA KEPUTUSAN PEPERIKSAAN</center>

    <div>

      <h6 style="float: center;" align="center">Subject: <%= @subject_name %></h6>
     
      Tahun: <%= @e_year %>

      <% date = Date.utc_today() %>
      <h6 style="float: right;"><%= date.day %>-<%= date.month %>-<%= date.year %></h6>
    </div>
    

    <table border="2" class= "table" id="example" align="center" width="100%">
      <tr>
        <th colspan="1" rowspan="4" >Kelas</th>
        <th colspan="1" rowspan="4" >Bil.Murid</th>
        <th colspan="1" rowspan="4" >Peperiksaan</th>
        <th colspan ="10" rowspan="1"> Markah/Gred </th>
        <th colspan = "2" rowspan="2"> Bilanagan Lulus </th>
        <th colspan = "2" rowspan="2"> Bilanagan Gagal </th>
        <th colspan="1" rowspan="4"> GPA </th>
      </tr>
      <tr>
        <th rowspan="1" colspan="8"> Bilangan Lulus </th>
        <th rowspan="1" colspan="2"> Bilangan Gagal </th>
      </tr>
      <tr>
        <th rowspan="1" colspan="2"> A </th>
        <th rowspan="1" colspan="2"> B </th>
        <th rowspan="1" colspan="2"> C </th>
        <th rowspan="1" colspan="2"> D </th>
        <th rowspan="1" colspan="2"> E </th>
        <th rowspan="2" colspan="1"> Jumlah </th>
        <th rowspan="2" colspan="1"> Peratus </th>
        <th rowspan="2" colspan="1"> Jumlah </th>
        <th rowspan="2" colspan="1"> Peratus </th>
      </tr>
      <tr>
        <th rowspan="1" colspan="2"> 80~100 </th>
        <th rowspan="1" colspan="2"> 65~79 </th>
        <th rowspan="1" colspan="2"> 50~64 </th>
        <th rowspan="1" colspan="2"> 40~49 </th>
        <th rowspan="1" colspan="2"> 0~39 </th>
      </tr>

        <%= for item <- @group_subject do %>  
        <tr>
          <td style="text-align: left;"><%=item.kelas %></td>
          <td><%=item.total_student %></td>
     
          <td><%=item.exam_name %></td>
          <td style="border-right: 0;"><%= item.a %></td>
          <td style="border-left: 0;">(<%= (item.a/item.total_student)*100|>Float.round(2) %>)%</td>
          <td style="border-right: 0;"><%= item.b %></td>
          <td style="border-left: 0;">(<%= (item.b/item.total_student)*100|>Float.round(2) %>)%</td>
          <td style="border-right: 0;"><%= item.c %></td>
          <td style="border-left: 0;">(<%= (item.c/item.total_student)*100|>Float.round(2) %>)%</td>
          <td style="border-right: 0;"><%= item.d %></td>
          <td style="border-left: 0;">(<%= (item.d/item.total_student)*100|>Float.round(2) %>)%</td>
          <td style="border-right: 0;"><%= item.e %></td>
          <td style="border-left: 0;">(<%= (item.e/item.total_student)*100|>Float.round(2) %>)%</td>
          <td><%= item.lulus %></td>
          <td ><%= (item.lulus/item.total_student)*100|>Float.round(2) %>%</td>
          <td><%= item.tak_lulus %></td>
          <td ><%= (item.tak_lulus/item.total_student)*100|>Float.round(2) %>%</td>
          <td><%= ((item.a*1)+(item.b*2)+(item.c*3)+(item.d*4)+(item.e*5))/item.total_student|>Float.round(2) %></td>
      </tr>
        <% end %>
    </table>

    <table width="100%">

     <%= for item <- @group_exam do %>
      <tr>
        <th colspan="9" style="text-align: left;"> Ringkasan: <%= item.g_exam_name %></th>
      </tr>
      <tr>
        <th rowspan="3" style="border-bottom: 0;">Jumlah Bilangan Murid</th>
        <th rowspan="5" >Jumlah / Peratus</th>
        <th rowspan="1">A</th>
        <th rowspan="1"><%= item.g_a %></th>
        <th rowspan="1"><%= (item.g_a / item.g_total_student)*100|>Float.round(2)%>%</th>
        <th rowspan="4"> Bilangan Lulus </th>
        <th rowspan="4" style="border-right: 0;"> <%= item.g_lulus %> </th>
        <th rowspan="4" style="border-left: 0; "> <%= (item.g_lulus / item.g_total_student)*100|> Float.round(2)%>%</th>
        <th rowspan="3" style="border-bottom: 0;" >GPA</th>
      </tr>
      <tr>
        <th rowspan="1" >B</th>
        <th rowspan="1"><%= item.g_b %></th>
        <th rowspan="1"><%= (item.g_b / item.g_total_student)*100|>Float.round(2)%>%</th>
      </tr>
      <tr>
        <th rowspan="1" >C</th>
        <th rowspan="1"><%= item.g_c %></th>
        <th rowspan="1"><%= (item.g_c / item.g_total_student)*100|>Float.round(2)%>%</th>
      </tr>
      <tr>
        <th rowspan="2" style="border-top: 0;"><%= item.g_total_student %></th>
        <th rowspan="1" >D</th>
        <th rowspan="1"><%= item.g_d %></th>
        <th rowspan="1"><%= (item.g_d / item.g_total_student)*100|>Float.round(2)%>%</th>
        <th rowspan="2" style="border-top: 0;" ><%= ((item.g_a*1)+(item.g_b*2)+(item.g_c*3)+(item.g_d*4)+(item.g_e*5))/item.g_total_student|>Float.round(2) %></th>
      </tr>
      <tr>
        <th rowspan="1" >E</th>
        <th rowspan="1"><%= item.g_e %></th>
        <th rowspan="1"><%= (item.g_e / item.g_total_student)*100|>Float.round(2)%>%</th>
        <th rowspan="1">Bilangan Gagal</th>
        <th rowspan="1" style="border-right: 0; "> <%= item.g_tak_lulus %> </th>
        <th rowspan="1" style="border-left: 0; "> <%= (item.g_tak_lulus / item.g_total_student)*100|> Float.round(2)%>%</th>
      </tr>
       <%end%>
    </table>
  </body>
</html>
