<h2>New Student cocurriculum</h2>

<%= render "form.html", Map.put(assigns, :action, student_cocurriculum_path(@conn, :create)) %>

<span><%= link "Back", to: student_cocurriculum_path(@conn, :index) %></span>
