<h2>New Assessment subject</h2>

<%= render "form.html", Map.put(assigns, :action, assessment_subject_path(@conn, :create)) %>

<span><%= link "Back", to: assessment_subject_path(@conn, :index) %></span>
