<h2>New Mark sheet historys</h2>

<%= render "form.html", Map.put(assigns, :action, mark_sheet_historys_path(@conn, :create)) %>

<span><%= link "Back", to: mark_sheet_historys_path(@conn, :index) %></span>
