
<div class="content-heading">
    <div>Edit Co curriculum
    </div>
</div>
 <div class="row">
          
                <div class="col-lg-7" >
                  <div class="card card-default d-none d-lg-block">
                    <div class="card-body">
<%= render "form.html", Map.put(assigns, :action, co_curriculum_path(@conn, :update, @co_curriculum)) %>
</div>
</div>
</div>
</div>
<span><%= link "Back", to: co_curriculum_path(@conn, :index) %></span>
