

<div class="content-heading">
    <div>New Co curriculum
    </div>
</div>

<%= render "form.html", Map.put(assigns, :action, co_curriculum_path(@conn, :create)) %>

<span><%= link "Back", to: co_curriculum_path(@conn, :index) %></span>
