
<!DOCTYPE html>

  <div id="content">
      
          <link rel="stylesheet" href="/css/jquery.skedTape.css">
          <link rel="stylesheet" href="<%= Application.app_dir(:school, "priv/static") %>/css/jquery.skedTape.css">
    </head>
  
    <body>
        <div class="container">
            <div class="mb-4">
            <center><h4>Class: <%= @class.name %></h4></center>
                
                <div id="sked1"></div>
            </div><center>
         <a href="/class_setting/<%= @class.id %>"><button class="btn btn-sm btn-primary" type="submit">Back</button></a>
          <button class="btn btn-sm btn-primary" id="cmd" type="submit">Print</button>
           </center>
        </div>
</body>



       
   <script src="<%= static_path(@conn, "/js/jquery.skedTape.js") %> "></script>


</div>         
           

        <script type="text/javascript">


   $(document).ready(function() {



    var maps = JSON.parse('<%=raw(@all2)%>')

   $(maps).each(function(i,v) {
          console.log(v)
             v["start"]= start(v["start_hour"],v["start_minute"])
             v["end"]= end(v["end_hour"],v["end_minute"])
        })


            // --------------------------- Data --------------------------------
            var locations = [
                {id: '1', name: 'Sunday'},
                {id: '2', name: 'Monday'},
                {id: '3', name: 'Tuesday'},
                {id: '4', name: 'Wednesday'},
                {id: '5', name: 'Thursday'},
                {id: '6', name: 'Friday'},
                {id: '7', name: 'Saturday'}
                  
              
                ];

            var events =maps;

            // -------------------------- Helpers ------------------------------
             function start(hours, minutes) {
                var date = new Date();
                date.setUTCHours(hours, minutes, 0, 0);
                console.log(date)
                return date;

            }
              function end(hours, minutes) {
                var date = new Date();
                date.setUTCHours(hours, minutes, 0, 0);
                return date;
            }
            
            
          
            // --------------------------- Example 1 ---------------------------
            var $sked1 = $('#sked1').skedTape({
                caption: 'Day',
                start: start(8,0),
                end: end(18, 0),
                showEventTime: true,
                showEventDuration: true,
                scrollWithYWheel: true,
                locations: locations,
                events: events
               
            });
           
           
          })

var doc = new jsPDF();
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$('#cmd').click(function () {
    doc.fromHTML($('#content').html(), 15, 15, {
        'width': 170,
            'elementHandlers': specialElementHandlers
    });
    doc.save('Class_Timetable.pdf');
});

   
        </script>
    </body>
</html>