
<!DOCTYPE html>
 

<body>

<div id='dad' style="margin-left: 10px; overflow="auto">

  <div class="row">
                        <div class="col-lg-3">
                     <center>
                  <table class="table"  style="width: 300px; margin-top: 30px;" border="1">
  <thead>
    <tr bgcolor="gray" style="font: white;" align="center">

      <th colspan="2"><b style="color:white;">Subject Info</th>
      
    </tr>
    <tr bgcolor="gray" style="font: white;" align="center">

      <th><b style="color:white;">Teacher </th>
      <th><b style="color:white;">Subject</th>
    </tr>
  </thead>
  <tbody>
<%= for period <- @period|>Enum.group_by(fn x -> x.subject_id end) do %>

    <% period=period|>elem(1)|>hd() %>

<%  subject = Repo.get_by(Subject, id: period.subject_id) %>
<%  teacher = Repo.get_by(Teacher, id: period.teacher_id) %>
    <tr>

      <td><%= teacher.name %></td>
      <td align="center"><%= subject.timetable_description %> (<%= subject.timetable_code %>)</td>
     

     
    </tr>
<% end %>
  </tbody>
</table>
  </center> 
</div>
    <div class="col-lg-9">
 <div class="container">
 
          
            <center><h4>Class: <%= @class.name %></h4></center>
                  <link rel="stylesheet" href="/css/jquery.skedTape.css" >
                <div id="sked1"></div>
           
         
        </div>

             
              </div>


            
             </div>  
           </div>
        </div>
    </body>


 
     
</html>
<br>
<center>
<a href="/class_setting/<%= @class.id %>"><button class="btn btn-sm btn-primary" type="submit">Back</button></a>
          <button class="btn btn-sm btn-primary"   id="cmd" name="print_btn" type="submit">Print</button>
           </center>
        
  



        <script type="text/javascript">


   $(document).ready(function() {



    var maps = JSON.parse('<%=raw(@all2)%>')

   $(maps).each(function(i,v) {
          console.log(v)


             v["start"]= start(v["start_hour"],v["start_minute"])
             v["end"]= end(v["end_hour"],v["end_minute"])


        })



            // --------------------------- Data --------------------------------
            var locations = [
                {id: 1, name: 'Sunday'},
                {id: 2, name: 'Monday'},
                {id: 3, name: 'Tuesday'},
                {id: 4, name: 'Wednesday'},
                {id: 5, name: 'Thursday'},
                {id: 6, name: 'Friday'},
                {id: 7, name: 'Saturday'}
                  
              
                ];

            var events =
           
                 maps
            
         


            // -------------------------- Helpers ------------------------------

             function start(hours, minutes) {
                var date = new Date();
                date.setUTCHours(hours, minutes, 0, 0);
                console.log(date)
                return date;

            }
              function end(hours, minutes) {
                var date = new Date();
                date.setUTCHours(hours, minutes, 0, 0);
                return date;
            }
            
          
            // --------------------------- Example 1 ---------------------------
            var $sked1 = $('#sked1').skedTape({
                caption: 'Day',
                start: start(07,40),
                end: end(13, 0),
                showEventTime: true,
                showEventText: true,
                showEventDuration: true,
                scrollWithYWheel: true,
                locations: locations,
                events: events
               
            });




           
          })






$(function() { 
    $("#cmd").click(function() { 
  html2canvas(document.querySelector("#dad")).then(canvas => {

        saveAs(canvas.toDataURL(), 'Class Timetable.png');    //or whatever you want to execute
});

    });
}); 


function saveAs(uri, filename) {




    var link = document.createElement('a');

    if (typeof link.download === 'string') {

        link.href = uri;
        link.download = filename;

        //Firefox requires the link to be in the body
        document.body.appendChild(link);

        //simulate click
        link.click();

        //remove the link when done
        document.body.removeChild(link);

    } else {

        window.open(uri);

    }
}



   
        </script>

             <script src="<%= static_path(@conn, "/js/jquery.skedTape.js") %> "></script> 
              <script src="<%= static_path(@conn, "/js/jspdf.min.js") %> "></script>
<script type="text/javascript" src="/js/html2canvas.js"></script> 



