<h2>Show Shift</h2>

<ul>

  <li>
    <strong>Teacher:</strong>
    <%= @shift.teacher_id %>
  </li>

  <li>
    <strong>Shift master:</strong>
    <%= @shift.shift_master_id %>
  </li>

</ul>

<span><%= link "Edit", to: shift_path(@conn, :edit, @shift) %></span>
<span><%= link "Back", to: shift_path(@conn, :index) %></span>
