<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>21st Smart School Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
     <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
     <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/tagsinput.css"/>
    <script src="<%= static_path(@conn, "/js/tagsinput.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap-notify.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jqueryTranslator.min.js") %>"></script>



    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript">
      
      window.userToken = "<%= assigns[:user_token] %>";
      <%= if @conn.private.plug_session["user_id"] == nil do %>
        window.currentUser = "lobby"
      <% else %>
        window.currentUser = "<%= @conn.private.plug_session["user_id"] %>";
        window.currentInstitute = "<%= @conn.private.plug_session["institution_id"] %>";
        window.currentSemester = "<%= @conn.private.plug_session["semester_id"] %>";
      <% end %>
    </script>

    <script src="<%= static_path(@conn, "/js/phoenix.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/library.js") %>"></script>
  </head>





       



         
  <body>
    <div class="container-fluid" >

        <%= render("nav.html", conn: @conn) %>
        <div class="row" style="height: 75vh; overflow-y: scroll;">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                
                <%= render @view_module, @view_template, assigns %>
              </div>
            </div>
          </div>
        </div>
  

    </div> 
    <footer style="position: inherit;bottom: 0;margin-bottom: 10px;margin-left: 10px;">
  
    </footer>
    <script type="text/javascript">
    <%= cond do %>
    <% get_flash(@conn, :info) != nil -> %>
        $.notify({message: '<%= get_flash(@conn, :info) %>'},{type: 'success'});
    <% get_flash(@conn, :error) != nil -> %>
        $.notify({message: '<%= get_flash(@conn, :error) %>'},{type: 'danger'});
    <% true -> %>

    <% end %>
    $(document).ready(function(){

 
      
    })
    </script>

     
  </body>
</html>
