

  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Smart School Management System</title>

    <!-- Styles -->
    <link href="assets/css/core.min.css" rel="stylesheet">
    <link href="assets/css/thesaas.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/outside2.png">
    <link rel="icon" href="/img/outside2.png">
        <!-- Scripts -->
    <script src="assets/js/core.min.js"></script>
    <script src="assets/js/thesaas.min.js"></script>
    <script src="assets/js/script.js"></script>
    <link rel="stylesheet" href="/vendor/sweetalert/dist/sweetalert.css">
    <script src="/vendor/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body>


    <!-- Topbar -->
    <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
      <div class="container">
        
        <div class="topbar-left">
          <button class="topbar-toggler">&#9776;</button>
          <a class="topbar-brand" href="/">
            <img class="logo-default" src="/img/tail.png" alt="logo">
            <img class="logo-inverse" src="/img/head.png" alt="logo">
          </a>
        </div>


        <div class="topbar-right">
          <ul class="topbar-nav nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/parent_login">Parents Corner</a></li>
             <li class="nav-item"><a class="nav-link" href="/contact_us">Contact</a></li>

          </ul>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->





 <%= render @view_module, @view_template, assigns %>






    <script type="text/javascript">

    $(document).ready(function(){

    <%= cond do %>
    <% get_flash(@conn, :info) != nil -> %>
        

        swal("Awesome!", "<%= get_flash(@conn, :info) %>", "success");

    <% get_flash(@conn, :error) != nil -> %>

        swal("Ops!", "<%= get_flash(@conn, :error) %>", "error");
    <% true -> %>

    <% end %>
      
    })
    </script>
  </body>
</html>
