<h2>New Co curriculum job</h2>

<%= render "form.html", Map.put(assigns, :action, co_curriculum_job_path(@conn, :create)) %>

<span><%= link "Back", to: teacher_path(@conn, :teacher_setting) %></span>
