<table class="table" id="co_grade">
  <thead>
    <tr>
      <th>Name</th>
      <th>Max</th>
      <th>Min</th>
      <th>Gpa</th>

    </tr>
  </thead>
  <tbody>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<span><%= link "New Grade", to: co_grade_path(@conn, :new) %></span>