<h2>New Teacher absent reason</h2>

<%= render "form.html", Map.put(assigns, :action, teacher_absent_reason_path(@conn, :create)) %>

<span><%= link "Back", to: teacher_absent_reason_path(@conn, :index) %></span>
