<h2>Show Teacher absent reason</h2>

<ul>


  <li>
    <strong>Absent reason:</strong>
    <%= @teacher_absent_reason.absent_reason %>
  </li>

</ul>

<span><%= link "Edit", to: teacher_absent_reason_path(@conn, :edit, @teacher_absent_reason) %></span>
<span><%= link "Back", to: teacher_absent_reason_path(@conn, :index) %></span>
