<h2>New Student mark nilam</h2>

<%= render "form.html", Map.put(assigns, :action, student_mark_nilam_path(@conn, :create)) %>

<span><%= link "Back", to: student_mark_nilam_path(@conn, :index) %></span>
