<div class="content-heading">
   <div>Edit User
      <small><%= gettext("welcome")%>!</small>
   </div>
   <!-- START Language list-->
   <div class="ml-auto">

   </div>
   <!-- END Language list-->
</div>

<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :update, @user)) %>


