<div class="content-heading">
    <div>New Semester
    </div>
</div>
      <div class="row">
          
                <div class="col-lg-7" >
                  <div class="card card-default d-none d-lg-block">
                    <div class="card-body">
<%= render "form.html", Map.put(assigns, :action, semester_path(@conn, :create)) %>
         </div>
                    </div>
                  </div>
                </div>

<span><%= link "Back", to: semester_path(@conn, :index) %></span>
