
<div class="content-heading">
    <div>Edit Subject teach class
    </div>
</div>

      <div class="row">
          
                <div class="col-lg-12" >
                  <div class="card card-default d-none d-lg-block">
                    <div class="card-body">
<%= render "form.html", Map.put(assigns, :action, subject_teach_class_path(@conn, :update, @subject_teach_class)) %>
</div>
</div>
</div>
</div>

<span><%= link "Back", to: subject_teach_class_path(@conn, :index) %></span>
