<h2>Edit Subject teach class</h2>

<%= render "form.html", Map.put(assigns, :action, subject_teach_class_path(@conn, :update, @subject_teach_class)) %>

<span><%= link "Back", to: subject_teach_class_path(@conn, :index) %></span>
