<h2>Edit Exam attendance</h2>

<%= render "form.html", Map.put(assigns, :action, exam_attendance_path(@conn, :update, @exam_attendance)) %>

<span><%= link "Back", to: exam_attendance_path(@conn, :index) %></span>
