
<h1>mark_analyse_by_grade</h1>


<form action="/pdf/exam_result_standard" method="POST">
	<input type="hidden" name="_csrf_token" value="<%= Phoenix.Controller.get_csrf_token %>">
<select name="class">
	<%= for class <- @classes do %>
	<option><%= class.name %></option>
	<% end %>
</select>
<select name="semester">
	<%= for sem <- @semesters do %>
	<option><%= sem.start_date %> - <%= sem.end_date %></option>
	<% end %>
</select>
<input type="submit" name="" value="Generate!">
</form>


