<h2>Show Class</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @class.name %>
  </li>

  <li>
    <strong>Remarks:</strong>
    <%= @class.remarks %>
  </li>

    <li>
    <strong>Teacher:</strong>
    <%= @class.teacher_id %>
  </li>

</ul>
<span><%= link "Students", to: class_path(@conn, :students, @class) %></span>
<span><%= link "Edit", to: class_path(@conn, :edit, @class) %></span>
<span><%= link "Back", to: class_path(@conn, :index) %></span>
